.header-card-restaurants h1 {
    color: $colorTitleHaeder;
    margin-bottom: 40px;
}

.card {
    border: 10px solid $colorPrimary;

    a {
        padding: 5px;
        border-radius: 5px;
    }
}
