.header-card-restaurants{
    margin-bottom: 40px;

    h1 {
        color: $colorTitleHaeder;
    }
}

.card {
    border: 10px solid $colorPrimary;
    flex-direction: row;

    .card-body {
        padding: 20px 10px;

        a {
            padding: 5px;
            border-radius: 5px;
        }
    }

    a.card-link.menu.secondary-btn-deliveroo {
        display: none;
    }
}

h5.card-title {
    font-size: 22px;
}

li.list-group-item.restaurant-info {
    font-size: 18px;
}

.card-body a {
    font-size: 16px;
}
