.background-container {
    background-color: $adminBgColor;
}

.container-fluid nav {
    background: linear-gradient(96deg, rgba(208,235,153,1) 63%, rgba(0,204,188,1) 100%);
}

.sidebar-nav {
    height: 100%;
}

.dashboard-logo {
    height: 60px;

    img {
        width: 100%;
    }
}

.sidebar-nav .link {
    height: calc(100% - 60px);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a.nav-link {
        color: $colorTitleHaeder;
        font-family: $font-family-sans-serif;
        font-size: $fontSizeDashboard;
        padding-top: 16px;
    }

    a.logout {
        color: $colorSecondary;
        background-color: $colorTitleHaeder;
        border-radius: 5px;
        padding: 8px;
        text-align: center;
        font-size: 18px;
    }
}

li.only-icon {
    display: none;
    padding-top: 16px;
    text-align: center;

    a.only-icon {
        color: $colorTitleHaeder;
        font-size: 25px;
    }
}
