.add-dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1 {
        color: $colorTitleHaeder;
    }
}

h2 {
    color: $colorTitleHaeder;
}

th {
    width: calc(100% / 4);
    font-size: 20px;
}

td {
    font-size: 18px;
}

.show.show-btn-deliveroo {
    display: none;
}

.modify.modify-btn-deliveroo {
    display: none;
}

.danger.danger-deliveroo {
    display: none;
}

.no-dishes {
    margin-top: 200px;
    color: $colorTitleHaeder;
}
