.container{
    max-width: 1400px;
}

.capitalize{
    text-transform: capitalize;
}

.card-restaurants{
    margin: 10px 0;
    .card-body{
        width: 33%;
    }
    .list-group{
        width: 33%;
        border: none;
    }
}


.btn-deliveroo{
    background-color: $colorPrimary;
    color: #fff;
    padding: 10px 20px;

    &:hover{
        opacity: 0.8;
        transition: 0.5s;
    }
}
