body{
    font-family: 'Stratos Web';
}

$fontprimary: 'Stratos Web';

.container{
    max-width: 1400px;
}

.capitalize{
    text-transform: capitalize;
}

.card-restaurants{
    margin: 10px 0;
    .card-body{
        width: 33%;
    }
    .list-group{
        width: 33%;
        border: none;
    }
}

.uppercase {
    text-transform: uppercase;
}

.btn-deliveroo{
    background-color: $colorPrimary;
    color: $colorCurrent;
    padding: 10px 20px;

    &:hover{
        color: $colorSecondary;
        opacity: 0.8;
        transition: 0.5s;
    }
}

.secondary-btn-deliveroo {
    background-color: $colorSecondary;
    color: $colorTitleHaeder;

    &:hover{
        color: $colorPrimary;
        opacity: 0.8;
        transition: 0.5s;
    }
}
