.nav-bar-container {
    border-bottom: 1px solid grey;
}

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;

    #sidebar-wrapper {
        border: 1px solid gray;
        padding: 10px 15px;
    }
    // .box-restaurant-container {
    //     height: 100vh;
    // }
    .card-restaurant-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .card-restaurant{
            width: 350px;
            height: 350px;
            border: 2px solid $colorPrimary;
            margin: 5px;
        }
    }
}

.logo-guest-restaurant {
    width: 200px;

    img {
        display: block;
        width: 100%;
    }
}

// stile stampa dei ristoranti

#all-restaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .box-restaurant{
        width: 350px;
        height: auto;
        border: 2px solid $colorPrimary;
        margin: 5px;
    }
}

.restaurant-img {
    height: 150px;
    width: 150px;
    img {
        display: block;
        height: 100%;
        width: 100%;
    }
}
