.card-restaurant {
    margin: 55px 0;
}

.cover-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title-restaurant {
    color: $colorTitleHaeder;
    margin-bottom: 40px;
}

.info-restaurant {

    h2, span {
        color: $colorTitleHaeder;
    }

    .menu {
        color: $colorPrimary;

        &:hover {
            color: $colorTitleHaeder;
            text-decoration: none;
        }
    }
}

.all-restaurant {
    margin: 20px 20px !important;
}

.container-dishes {
    width: 100%;
}

#all-dishes-title {
    // background: linear-gradient(96deg, rgba(208,235,153,1) 63%, rgba(0,204,188,1) 100%);
    background-color: rgba(208, 235, 153, 0.7);
    padding-top: 10px;
    padding-bottom: 40px;
}

#all-dishes-title h1 {
    color: $colorTitleHaeder;
}

.all-dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h4, strong {
        color: $colorTitleHaeder;
    }
}

.thumbnail-container {
    height: 300px;
    width: 300px;
    margin: 10px 10px 20px 10px;
    cursor: pointer;
    perspective: 1000px;
}

.thumbnail-container::-webkit-scrollbar {
  display: none;
}

.thumbnail {
    background-color: $adminBgColor;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.thumbnail-container:hover .thumbnail{
    transform: rotateY(180deg);
}

.thumbnail-front, .thumbnail-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.thumbnail-front {

    img {
        width: 100%;
        height: 150px;
    }
    .caption {
        margin: 0;
        padding-top: 10px;

        #description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.thumbnail-back {
    transform: rotateY(180deg);
    overflow: auto;
}
