.navbar{
    height: 70px;
    border-bottom:1px solid #ccd0c6;
}

.navbar-light .navbar-nav .active > .nav-link,{
    color:white;
    font-weight: bold;
}

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;

    #sidebar-wrapper {
        border-top: 1px solid #00ccbc;
        border-bottom: 1px solid #00ccbc;
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right:5px;
        width: 200px;
        height: 500px;
        overflow-y: scroll;
        h3{
            padding-bottom:22px;
            font-weight: bold;
        }
    }
}
    .form-check-label {
        margin-bottom: 10px;
        font-size: 16px;
}

    .card-restaurant-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .card-restaurant{
            margin: 10px;
            padding:5px;
            background-color: #00ccbc26;
            border: 1px solid #00ccbc;
            width: 300px;
            height: 360px;

            h4{
                margin-top:20px;

            }
        }
    }


.logo-guest-restaurant {
    width: 130px;

    img {
        display: block;
        width: 100%;
    }
}

// stile stampa dei ristoranti
.box-restaurant-container{
    h1{
        font-weight: bold;
        padding-bottom:20px;
    }
#all-restaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .box-restaurant{
        margin: 10px;
        padding:5px;
        background-color: #00ccbc26;
        border: 1px solid #00ccbc;
        width: 300px;
        height: 360px;

        h2{
            font-size: 25px;
            font-weight: bold;
            padding: 10px;
        }
        p{
            padding:0 10px;
        }
        a{
            padding:10px 10px;
            text-decoration: none;
        }
    }
}
}

.restaurant-img {
      overflow: hidden;

      img {
          width: 100%;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

        &:hover {
           border-radius: 50%;
           -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
           -o-transform: rotate(360deg);
           -ms-transform: rotate(360deg);
           transform: rotate(360deg);
        }

    }

}
