main {
    background-color: #fff;
}

.header-single-rest::after {
    content: "";
    display: table;
    clear: both;
}

.header-single-rest {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: 3px solid #e8ebeb;

    .single-restaurant-logo {
        float: left;
        width: 25%;

        img {
            width: 130px;
            height: 35px;
        }
    }
}

.header-bar-menu {
    text-align: right;
    float: left;
    width: 75%;

    ul {
        margin: 0;
        padding-left: 0;

        li {
            display: inline-block;
            text-align: center;

            a {
                width: 100px;
                margin: 0;
                color: #000;
                border: 1px solid #e8ebeb;
                border-radius: 3px;

                i {
                    color: $colorPrimary;
                }
            }
        }
    }

}

.card-restaurant {
    padding: 15px 0;
}

.cover-restaurant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    height: 100%;

    img {
        width: 100%;
        height: 200px;
    }
}

.img-rider p {
    margin: 5px 0;
}

.title-restaurant {
    color: $colorTitleHaeder;
    margin-bottom: 40px;
}

.info-restaurant {

    width: 60%;

    h2, span {
        color: $colorTitleHaeder;
    }

    .menu {
        color: $colorPrimary;
        transition: 0.5s;

        &:hover {
            color: $colorTitleHaeder;
            text-decoration: none;
        }
    }

    #news {
        background-color: rgb(255, 246, 247);
        color: red;
        width: 60px;
        padding: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .info-details:after {
        content: "";
        display: table;
        clear: both;
        height: 30px;
    }

    .info-icon {
        float:left;
        width: 5%;
        height: 100%;

        i {
            font-size: 20px;
            color: grey;
        }
    }

    .details {
        float:left;
        width: 50%;
        height: 100%;

        p {
            margin-bottom: 0;
        }

        a {
            color: $colorPrimary;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                color: $colorTitleHaeder;
            }
        }
    }
}

.order {
    margin-top: 10px;
    padding: 7px 14px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
    border-radius: 3px;
    transition: 0.5s;

    &:hover {
        color: $colorTitleHaeder;
        border: 1px solid $colorTitleHaeder;
    }
}

.all-restaurant {
    margin: 20px 20px !important;

    .all-restaurant-btn {
        margin: 0;
    }

}

.components {
    height: 50px;

    ul {
        margin-bottom: 0;
        padding-left: 0;

        li {
            display: inline-block;
            list-style-type: none;
            padding-right: 30px;

            a {
                color: $colorPrimary;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    color: $colorTitleHaeder;
                }
            }
        }
    }
}

.container-dishes {
    width: 100%;
    background-color: #f4f5f5;
}

#all-dishes-title {
    padding: 30px 0;

    h1 {
        color: $colorTitleHaeder;
    }
}

.all-dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; position: relative;
}

.dish-card-link {
    cursor: pointer;
}

#dish-card::after {
    content: "";
    display: table;
    clear: both;
}

#dish-card {
    width: 350px;
    height: 140px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 3px;

    .left-card {
        float: left;
        height: 100%;
        width: 60%;

        h4 {
            color: $colorTitleHaeder;
        }

        p {
            color: #000;
        }

        #description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .right-card {
        float: left;
        height: 100%;
        width: 40%;

        img {
            width: 100px;
            height: 100px;
        }
    }
}

.dish-card-details {
    text-align: center;
    position: absolute;
    z-index: 99;
    padding: 16px;
    height: 650px;
    width: 450px;
    background-color: #fff;
    border: 3px solid $colorPrimary;

    i {
        cursor: pointer;
        font-size: 20px;
    }

    h4 {
        color: $colorPrimary;
    }

    img {
        width: 100%;
        height: 250px;
        margin: 15px 0;
    }
}
