@media screen and (max-width: 1200px) {
    .image-header {
        width: 300px;
        overflow: hidden;
    }

    .riquadro-blu-header-inside h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    }
}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {

    .riquadro-blu-header-inside h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    }

    
    .image-header {
        width: 300px;
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    .image-header {
        width:200px;
        overflow: hidden;
    }
}
