@media screen and (max-width: 1100px) {
    .image-header {
        width: 300px;
        overflow: hidden;
    }

    .riquadro-blu-header-inside h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    }

    .btn.show-btn-deliveroo, .btn.modify-btn-deliveroo, .btn.btn-danger.danger-deliveroo {
        display: none;
    }

    .btn.show.show-btn-deliveroo, .btn.modify.modify-btn-deliveroo,  .btn.danger.danger-deliveroo{
        display: inline-block;
    }

    .cibi-preferiti {
        padding-top:$spacingTopJumbo;
        padding-bottom:$spacingBottomJumbo;
        background-color: #ffeae4;

        img{
            width: 200px;
            margin-right:5px;
        }


        h1{
            font-weight: bold;
            font-size: 40px;
            padding-bottom: 10px;
        }

        h2{
            font-size: 18px;
            font-weight: bold;
            padding-top:10px;

        }

        p{
            font-size: 13px;
            padding-bottom:20px;
        }


}


@media screen and (max-width: 992px) {
    .div-search button {
    width: 13%;
    font-size: 11px;
    background-color: #00ccbc;
    }
    .btn-deliveroo {
        font-size: 12px;
        padding: 7px 5px;
    }


}


    .btn.show.show-btn-deliveroo, .btn.modify.modify-btn-deliveroo,  .btn.danger.danger-deliveroo{
        padding: 5px;
    }

    .content-dropcart >  {
        text-align: center;
    }

}

@media screen and (max-width: 862px) {

    .section-dropcart{
        padding-top: 10px;
    }

    .dropdown-menu.show{
        padding:10px;
        width: 250px !important;
        left: -150px !important;
        box-shadow:0px 5px 30px black;
    }

}

@media screen and (max-width: 600px) {

    .riquadro-blu-header-inside h1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    }
    .div-search button {
    width: 13%;
    font-size: 11px;
    background-color: #00ccbc;
    }
    .image-header {
        width: 300px;
        overflow: hidden;
    }

    .btn-deliveroo {
        display: none;
    }

    .btn.add.btn-deliveroo {
        display: inline-block;
    }

    .btn-deliveroo{
        display: block;
    }
    .dropdown-menu.show{
        padding:10px;
        width: 250px !important;
        left: -90px !important;
        box-shadow:0px 5px 30px black;
    }
    .section-dropcart.dropdown-menu.btn-deliveroo{
        display: block;
    }


    .header-card-restaurants h1, .add-dish h1 {
        font-size: 30px;
    }

    table td {
        font-size: 16px;
    }

    table th {
        font-size: 18px;
    }

    h5.card-title.restaurant-info {
        font-size: 18px;
        text-align: center;
    }

    li.list-group-item.restaurant-info {
        font-size: 14px;
        text-align: center;
    }

    a.card-link.restaurant-menu.secondary-btn-deliveroo {
        display: none;
    }

    .card a.card-link.menu.secondary-btn-deliveroo {
        display: block;
        font-size: 14px;
    }

}

@media screen and (max-width: 400px) {
    .image-header {
        width:200px;
        overflow: hidden;
    }
    .div-search button {
    width: 13%;
    font-size: 11px;
    background-color: #00ccbc;
    }

    .header-card-restaurants h1, .add-dish h1 {
        font-size: 23px;
    }

    .add.btn-deliveroo {
        padding: 5px 7px;
        font-size: 12px;
    }

    table td {
        font-size: 14px;
    }

    table th {
        font-size: 16px;
    }
}
