.card {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
        color: $colorTitleHaeder;
    }

    img {
        width: 200px;
        height: 200px;
    }

    p {
        font-size: 18px;
    }
}

.back-to-dishes-arrow {
    margin-top: $spacingBottomJumbo;

    button i {
        padding-right: 5px;
    }

}
